@model OdeToFood2.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Name</h3>
<h3>Location: @Model.Location</h3>
<p>Use this area to provide additional information.</p>
